<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="au theme template">
  <meta name="author" content="Hau Nguyen">
  <meta name="keywords" content="au theme template">
  <title>한식조리기능사(실기메뉴)</title>
</head>

<body>
  <script>
    var json = <%= json %>;
    console.log(json);
  </script>
</body>

</html>
<!-- end document-->

